body {
    position: relative;
}

.CookieConsent {
    $root: &;

    position: fixed;
    z-index: 9999;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #444;
    color: #fff;
    padding: 1rem;

    &__hd {
    }

    &__ft {
    }

    &__title {
        font-weight: 400;
        text-transform: uppercase;
        font-size: 1.2rem;
        line-height: 1.2em;
    }

    &__bd {
        margin-top: 0.5rem;
    }

    &__content {
    }

    &__button {
        position: relative;
        top: 0;
        width: auto;
        vertical-align: middle;
        display: inline-block;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin: 1rem 0.5rem 0 0;
        padding: {
            top: 0.5rem;
            bottom: 0.5rem;
            left: 1rem;
            right: 1rem;
        }
        font-weight: 400;
        line-height: 1.5;
        font-size: 1rem;
        cursor: pointer;
        background-color: #ddd;
        color: #444;
        border: 0;
        text-decoration: none;

        &:hover,
        &:focus,
        &:active {
            background-color: #888;
            color: #fff;
            text-decoration: none;
            outline: {
                width: rem(2);
                style: solid;
                color: transparent;
                offset: rem(-4);
            }
        }
        &:focus {
            outline-color: currentColor;
            text-decoration: none;
        }
        &:focus:not(:focus-visible) {
            outline-color: transparent;
            text-decoration: none;
        }
        &:focus-visible {
            outline-color: currentColor;
            text-decoration: none;
        }

        &--highlight {
            background-color: #fbee12;
            color: #444;

            &:hover,
            &:focus,
            &:active {
                background-color: #a49b0c;
                color: #fff;
            }
        }
    }
}
