body {
	position: relative;
}

.CookieConsent {
	$root: &;

	position: fixed;
	z-index: 9999;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #444;
	color: #fff;
	display: flex;
	flex-direction: column;

	&__hd {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 1rem 1rem 0;
	}

	&__ft {
		padding: 0.5rem 1rem;
	}

	&__title {
		font-weight: 400;
		text-transform: uppercase;
		font-size: 1.2rem;
		line-height: 1.2em;
	}

	&__bd {
		flex: 1;
		padding: 0.5rem 1rem;
	}

	&__content {

	}

	&__button {
	    position: relative;
	    top: 0;
	    width: auto;
	    vertical-align: middle;
	    display: inline-block;
	    display: inline-flex;
	    align-items: center;
	    justify-content: center;
	    margin: 0 0.5rem 0 0;
	    padding: {
	        top: 0.5rem;
	        bottom: 0.5rem;
	        left: 1rem;
	        right: 1rem;
	    }
	    font-weight: 400;
	    line-height: 1.5;
	    font-size: 1rem;
	    cursor: pointer;
	    background-color: #ddd;
	    color: #444;
	    border: 0;
	    border-radius: 3px;
	    transition: all 0.2s ease;
	    outline: {
	        width: 2px;
	        style: solid;
	        color: transparent;
	        offset: -6px;
	    }
	
	    &:not([disabled]) {
	        &:hover,
	        &:focus,
	        &:active {
	            background-color: #888;
	            color: #fff;
	        }
	    }
	
	    &:focus {
	        outline-color: rgba(#fff, 0.8);
	    }
	    
        &--highlight {
            background-color: #fbee12;
            color: #444;

            &:not([disabled]) {

                &:hover,
                &:focus,
                &:active {
                    background-color: #a49b0c;
                    color: #fff;
                }
            }

            &:focus {
                outline-color: rgba(#fff, 0.8);
            }

        }
		
	}
}
